n8n/016_API_Admin_UpdateSettings.json
{
  "name": "Kyros - API_Admin_UpdateStoreSettings",
  "nodes": [
    {
      "id": "webhook",
      "name": "PATCH /stores/:id/settings",
      "parameters": {
        "authentication": "none",
        "httpMethod": "PATCH",
        "options": {},
        "path": "api/v1/admin/stores/:id/settings",
        "responseMode": "responseNode"
      },
      "position": [250, 300],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "kyros-admin-store-settings"
    },
    {
      "id": "update-settings",
      "name": "Update Settings",
      "parameters": {
        "operation": "executeQuery",
        "options": { "queryReplacement": "={{ $json.params.id }},{{ JSON.stringify($json.body) }}" },
        "query": "UPDATE stores \nSET settings = settings || $2::jsonb\nWHERE id = $1\nRETURNING id, name, settings;"
      },
      "position": [500, 300],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6
    },
    {
      "id": "check-updated",
      "name": "Store Updated?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [{
            "id": "updated",
            "leftValue": "={{ $json.id }}",
            "operator": { "operation": "exists", "type": "string" },
            "rightValue": ""
          }],
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }
        },
        "options": {}
      },
      "position": [750, 300],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "success-response",
      "name": "Success Response",
      "parameters": {
        "jsonOutput": "={{ {\n  \"success\": true,\n  \"data\": {\n    \"store_id\": $json.id,\n    \"store_name\": $json.name,\n    \"settings\": $json.settings\n  },\n  \"meta\": {\n    \"timestamp\": new Date().toISOString()\n  }\n} }}",
        "mode": "raw",
        "options": {}
      },
      "position": [1000, 200],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "respond-200",
      "name": "Respond 200",
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        },
        "respondWith": "firstIncomingItem"
      },
      "position": [1250, 200],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "id": "error-response",
      "name": "Error Not Found",
      "parameters": {
        "jsonOutput": "={{ {\n  \"success\": false,\n  \"error\": {\n    \"code\": \"STORE_NOT_FOUND\",\n    \"message\": \"Store not found\"\n  },\n  \"meta\": {\n    \"timestamp\": new Date().toISOString()\n  }\n} }}",
        "mode": "raw",
        "options": {}
      },
      "position": [1000, 400],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "respond-404",
      "name": "Respond 404",
      "parameters": {
        "options": {
          "responseCode": 404,
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        },
        "respondWith": "firstIncomingItem"
      },
      "position": [1250, 400],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "Error Not Found": { "main": [[{ "index": 0, "node": "Respond 404", "type": "main" }]] },
    "PATCH /stores/:id/settings": { "main": [[{ "index": 0, "node": "Update Settings", "type": "main" }]] },
    "Store Updated?": { "main": [[{ "index": 0, "node": "Success Response", "type": "main" }], [{ "index": 0, "node": "Error Not Found", "type": "main" }]] },
    "Success Response": { "main": [[{ "index": 0, "node": "Respond 200", "type": "main" }]] },
    "Update Settings": { "main": [[{ "index": 0, "node": "Store Updated?", "type": "main" }]] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" }
}
