n8n/031_API_Admin_Wiki_Reload.json
{
  "id": "NmMmc6aHYFPx71KW",
  "name": "Kyros - API_Admin_Wiki_Reload",
  "nodes": [
    {
      "id": "9eeacf00-4267-472a-808e-4a42219290c8",
      "name": "POST /admin/wiki/reload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "76ba4700-c55c-4161-a541-ede7fe0ac6cc",
      "parameters": {
        "httpMethod": "POST",
        "path": "api/v1/admin/wiki/reload",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "4a24a033-ef0e-44d6-9415-b61dde5dbcff",
      "name": "Reload Wiki 028",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [224, 0],
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "mode": "id", "value": "iKYaPYH9UHDvN3NV" },
        "mode": "once"
      }
    },
    {
      "id": "1c4f4406-1e63-4c5f-aa69-89632787ccea",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [448, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: { status: \"reloaded\", file_count: $json.file_count, wiki_version: $json.wiki_version, reloaded_at: $now.toISO() }, meta: { timestamp: $now.toISO() } } }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "POST /admin/wiki/reload": {
      "main": [[{ "node": "Reload Wiki 028", "type": "main", "index": 0 }]]
    },
    "Reload Wiki 028": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
